@use "../styles/variables" as *;

.card {
  display: flex;
  flex-direction: column;
  gap: 12px;
  border: 1px solid #F0F1F1;
  border-radius: 16px;
  padding: 16px;
  background: $white;
  transition: box-shadow 0.2s ease;
  width: 380px;
  &:hover {
    box-shadow: $shadow-md;
  }
}

.cardHeader {
  display: flex;
  align-items: center;
  gap: 12px;
}

.fileIcon {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.fileName {
  font-size: $text-md;
  font-weight: $fw-regular;
  color: $text-primary;
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cardActions {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: auto;
  flex-shrink: 0;
}

.stat {
  flex: 1;
  padding: 0 12px;
  align-self: center;
  gap: 8px;
  padding: 8px 12px;
}

.statsRow {
  display: flex;
  gap: 12px;
}


.statLabel {
  font-size: $text-sm;
  font-weight: $fw-regular;
  color: $text-table-title;
  margin-bottom: 4px;
}

.statValue {
  font-size: $text-md;
  font-weight: $fw-regular;
  color: $text-primary;
}

.publishedAt {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: $text-sm;
  font-weight: $fw-regular;
  color: $text-secondary;

  svg {
    width: 14px;
    height: 14px;
    flex-shrink: 0;
  }
}
