@import "./styles/variables.scss";
@import "bootstrap/scss/bootstrap";

// GLOBAL RESET
body {
  font-family: 'Inter', sans-serif;
  color: $text-primary;
}

// ====================
// TEXT UTILITIES
// ====================

// Primary text (13px regular)
.text-primary-sm {
  font-size: $text-xs;
  font-weight: $fw-regular;
  color: $text-primary;
}

// Table title (13px medium)
.text-table-title {
  font-size: $text-xs;
  font-weight: $fw-medium;
  color: $text-table-title;
}

// Header (28px medium)
.text-header {
  font-size: $text-lg;
  font-weight: $fw-medium;
  color: $text-header;
}

// Sub-header (16px regular)
.text-subheader {
  font-size: $text-md;
  font-weight: $fw-regular;
  color: $text-primary;
}

// Secondary text (14px regular)
.text-secondary {
  font-size: $text-sm;
  font-weight: $fw-regular;
  color: $text-secondary;
}

// Selected text (16px regular)
.text-selected {
  font-size: $text-md;
  font-weight: $fw-regular;
  color: $text-secondary;
}

// Regular text (14px regular)
.text-regular {
  font-size: $text-sm;
  font-weight: $fw-regular;
  color: $text-table-title;
}

// option texts (14px regular)
.text-option {
  font-size: $text-sm;
  font-weight: $fw-regular;
  color: $text-header;
}

// ====================
// COMMON UI
// ====================

.rounded-12 {
  border-radius: $radius;
}

.bg-primary-light {
  background-color: $primary-bg;
}

.text-primary-color {
  color: $primary;
}